.purple-pricing-table {
  
  #content_editor &,
  .pdf-page-content &  {
    background-color: transparent !important;
    border: 0 !important;
  }

  thead {
    background-color: transparent !important;
    color: $brand;
    
    th {
      text-align: right;
      border-right: 1px solid #ccc !important;

      #content_editor &,
      .pdf-page-content & {
        background-color: transparent !important;
        color: $brand;
        font-weight: normal;
      }

      &:first-child {
        text-align: left;
        border-right: 0 !important;
      }

    }

  }

  tbody {

    td {
      text-align: right;
      border: 0 !important;
      border-top: 1px solid #ccc !important;
      border-right: 1px solid #ccc !important;
      
      &:first-child {
        text-align: left;
        border-right: 0 !important;
      }

    }

    tr:last-child td {
      border-bottom: 1px solid #ccc !important;
    }

  }

  tfoot {

    td {
      text-align: right;
      border: 0px !important;

      &:first-child {
        border-right: 1px solid #ccc !important;
      }

      &:last-child {
        border: 1px solid #ccc !important;
        border-left: 0 !important;
        border-top: 0 !important;
      }

    }

  }

}



.purple-usage-table {

  td {
    border: 1px solid #ccc !important;

    &:first-child {
      border-left: 0 !important;
    }

    &:nth-child(2n) {
      text-align: right;
      border-left: 0 !important;
    }

    &:nth-child(2n-1) {
      border-right: 0 !important;
    }

    &:nth-child(3n-1) {
      border-right: 0 !important;
    }

  }

}