.purple-cover-page {
  text-align: right;
  display: flex;

  .purple-cover-page-content {
    flex: 1;
    max-width: 25%;
    min-width: 125px;
    @media print {
      width: 100%;
      max-width: 2in;
      float: left;
    }
  }

  .purple-cover-logo-container {
    margin-top: 4em !important;
    margin-bottom: 6em !important;
    @media screen and (max-width: 735px) {
      margin-top: 0em !important;
      margin-bottom: 0em !important;
    }

    img {
      max-width: 110px !important;
    }

  }

  .purple-cover-meta-container {
    margin-bottom: 12em !important;
    @media screen and (max-width: 735px) {
      margin-bottom: 0em !important;
    }
    @media print {
      margin-bottom: 10em !important;
    }

    h1 {
      #content_editor &,
      .pdf-page-content & {
        color: #fff !important;
        font-size: $paragraph-font-size !important;
      }
    }

  }

  .purple-cover-boilerplate {
    margin-bottom: 2em !important;
    font-size: 0.8em !important;
    line-height: 1.4 !important;
    * {
      #content_editor &,
      .pdf-page-content & {
        font-size: 0.9em !important;
        line-height: 1.4 !important;
      }
    }
    @media print {
      margin-bottom: 0 !important;
    }
  }

  .purple-cover-page-image-container {
    flex: 1;
    position: relative;
    @media screen and (max-width: 735px) {
      min-height: auto;
    }

    div {
      background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/588375_original.jpg?1516036478);
      background-size: cover;
      background-position: bottom;
      position: absolute;
      top: -20px;
      left: 30px;
      right: -30px;
      bottom: -20px;
      @media print {
        left: 2.5in;
        top: -1in;
        bottom: 0;
        min-height: 12in;
      }
    }

  }

}

